body { color: white;
	  
    /*background-image: url("images/background.png");
    background-repeat: repeat;*/
}

.title-round{
	background-color: navy;
	border: 5px solid navy;
    padding: 5px;
    color: white;
    font: 15px bold;
    -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}


.profile-picture{
	  -webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	border-radius: 300px;
	border: 3px white dashed;
	padding: 1px;
}


.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0rem;
  background-color: black;
  text-align: center;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

a.navbar-brand:hover{
	text-decoration: none;
	border: 2px dashed gray;
	 -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	padding: 2px;
}

a.active{
	border: 3px dashed navy;
	 -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	padding: 2px;
}

a:visited{
	text-decoration: none;
}

@media only screen and (min-width: 200px )  {
    .profile-picture{
		height:150px;
	}
}

@media only screen and (min-width: 400px )  {
    .profile-picture{
		height:250px;
	}

	.carousel-item{
		margin-left:15%;
		margin-bottom: 30px;
	}

	body {
		font-size: 14px;
    }
}


@media only screen and (min-width: 640px )  {
    .profile-picture{
		width:70%;
		height:350px;
	}

	.carousel-item{
		margin-left:15%;
	}

	body {
		font-size: 16px;
    }
}


@media only screen and  (min-width: 768px) {
    .profile-picture{
		width:95%;
		height:300px;
	}

	.carousel-item{
		margin-left:20px;
	}

	body {
		font-size: 18px;
    }
}

@media only screen and (min-width: 850px) {
    .profile-picture{
		width:95%;
		height:330px;
	}

	.carousel-item{
		margin-left:15px;
	}

	body {
		font-size: 20px;
    }
}

@media only screen and (min-width: 980px) {
    .profile-picture{
		width:75%;
		height:400px;
	}

	.carousel-item{
		margin-left:90px;
	}

	body {
		font-size: 20px;
    }
}


