.container {
	margin-top: 0px;
	margin-left: 150px;
	height: 100%;
	border-radius: 10px;
	padding-left: 0px;
	padding-right: 0px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}

.row {
	margin-left: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	padding-bottom: 0px;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
}

li {
	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	padding-bottom: 0px;
	font-size: 15px;
	
}

.background {
	
	
		/* Full height */
		height: 100%; 
		/* Center and scale the image nicely */
	
		background-size: 1500px 740px; 


	

}
.titulo {

	overflow: hidden;
	min-width:1100px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}


h1, h2 {
font-family: Quicksand;
}

.hidden { display: none; }


#image-holder {


margin: auto;
padding-top: 50px;
padding-bottom: 100px;

max-width: 400px;
max-height: 400px;


text-align: center;

float: none;

}

#questionArea .col-md-12 {
	padding-bottom: 0px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	margin-left: 50px;
	font-size: 10px;
}

#gameOverArea .col-md-12 {
	padding-bottom: 30px;
}

#startOverText {
	text-align: center;
	padding-top: 30px;
}

#answerArea{
	padding-bottom: 0px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	margin-left: 50px;
	font-size: 10px;
}



h1.hvr-grow:hover,
h1.hvr-grow:focus,
h1.hvr-grow:active {
    transform: scale(1.2);
}

.btn, .btn:active, .btn:visited {
	margin: auto;
	margin-top: 300px;
	height: 100px;
	width: 200px;
	display: block;
	background: black;
    font-size: 20px;
	border-style: solid;
    border-width: 5px;
	border-color: black;
	color: white;
	
	
}

.btn:hover {
	background-color: white;
	color: black;
}



.btnAnswer, .btnAnswer:active, .btnAnswer:visited {
	margin: auto;
	height: 80px;
	width: 200px;
    font-size: 20px;
	border-style: solid;
    border-width: 5px;
	text-overflow: all;
	background: white;
	border-color: green;
	color: red;
  	display: flex;
    justify-content:center;
    align-content:center;
	flex-direction:column;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	
	
}

.btnAnswer:hover {
	background-color: red;
	color: white;
	border-color: green;
	cursor: pointer;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}